@use "../partials/layout";
@use "../partials/palette";
@import "./calculator-display.scss";
@import "./calculator-buttons.scss";

.calculator-body {
    @include layout.flex-mixin(column, space-around, center);
    @include layout.border(
        5px,
        solid,
        palette.$calculator-body-border-colour,
        20px
    );
    background-color: palette.$calculator-body-background-colour;
    margin: auto;
    width: 350px;
    height: 500px;
}
